In [3]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import matplotlib.pyplot as plt
from categories import store_categories
import random
import numpy as np
import seaborn as sns
from dashboard import get_df_ready

ModuleNotFoundError: No module named 'dashboard'

In [7]:
%load_ext autoreload
%autoreload 2
%run scraper.py
from scraper import BankScraper

with open("../secure/username") as file:
    username = file.read()

with open("../secure/password") as file:
    password = file.read()

scraper = BankScraper()
scraper.login(username, password)
df = scraper.getAccountTransactions()
scraper.logout()
df.to_csv('../secure/scraped_transactions.csv')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [25]:
df.to_csv('secure/scraped_transactions.csv')

In [14]:
from scraper.categories import store_categories, overall_categories
from scraper.helper_functions import add_category_column
import pandas as pd
import numpy as np
import random
def make_dummy_data():
    dummy = pd.DataFrame()
    dummy['date'] = pd.date_range('2023-09-01', '2023-10-31')
    descriptions = []
    categories = []
    costs = []
    for _ in range(len(dummy)):
        store, category = random.choice(list(store_categories.items()))
        descriptions.append(store)
        categories.append(category)
        costs.append(round(np.random.gamma(.5, 100, size = 1)[0], 2) * -1)
    
    dummy['description'] = descriptions
    dummy['category'] = categories
    dummy['amount'] = costs
    dummy['account'] = 'Credit Card'
    
    dummy = add_category_column(dummy)
    dummy = dummy.loc[dummy['category'] != 'Income']
    dummy.loc[len(dummy.index)] = ['2023-10-03', 'Job', 'Income',1000,'checking','Income'] 
    dummy.loc[len(dummy.index)+1] = ['2023-9-03', 'Job2', 'Income',1500,'checking','Income'] 
    dummy['date'] = pd.to_datetime(dummy['date'])
    dummy.sort_values(by='date', ascending=False, inplace=True)
    dummy.reset_index(inplace=True)
    dummy.drop(columns=['index'], axis=1, inplace=True)
    dummy.to_csv('dummy_data.csv')

In [15]:
make_dummy_data()

In [17]:
df = pd.read_csv('dummy_data.csv', index_col=0,  parse_dates=['date'])
df

,date,description,category,amount,account,balance
60,2023-10-31,WM SUPERCENTER,Groceries,66.36,Credit Card,2371.58
59,2023-10-30,LAZ PKG,Parking,4.77,Credit Card,2305.22
58,2023-10-29,UTAH FIRST CU,Car Payment,15.78,Credit Card,2300.45
57,2023-10-28,UTAH DMV OFFICES,Car,0.80,Credit Card,2284.67
56,2023-10-27,SALT & STRAW ICE CREA,Food - Desserts,45.14,Credit Card,2283.87
...,...,...,...,...,...,...
4,2023-09-05,AMERICAN AIR,Airline,6.93,Credit Card,252.83
3,2023-09-04,UTAH DMV OFFICES,Car,63.12,Credit Card,245.90
2,2023-09-03,PROVO CITY UTILI DES,Utilities,156.54,Credit Card,182.78
1,2023-09-02,SMITHS FUEL,Gas,24.74,Credit Card,26.24
0,2023-09-01,BYU STORE,Shopping,1.50,Credit Card,1.50